{% extends 'base.html' %}

{% block content %}
<div>
    <a href="{% url 'student:list-student' %}">Voltar</a> 
</div>
<h1>Detalhes do aluno</h1>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-header">
        <b>{{ student.name }}</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Endereço:</b> {{ student.address }}</li>
        <li class="list-group-item"><b>E-mail:</b> {{ student.email }}</li>
        <li class="list-group-item"><b>Data de Nascimento:</b> {{ student.date_of_birth }}</li>
        <li class="list-group-item"><b>Cidade:</b> {{ student.city }}</li>
        <li class="list-group-item"><b>Curso:</b> {{ student.course }}</li>
    </ul> 
</div>
{% endblock %}