{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: left; margin-top: 20px;">
    <a href="{% url 'student:create-student' %}" style="text-decoration: none; color: white;"><button class="btn btn-success">Novo Cadastro</button></a>
</div>
<div style="margin-bottom: 20px; margin-top: 20px;">
    <h1>Listagem de Alunos</h1>
  </div>

   <table class="table">
       <thead>
           <tr>
               <th scope="col">Nome</th>
               <th scope="col">E-mail</th>
               <th scope="col">Data de Nascimento</th>
               <th scope="col">Cidade</th>
               <th scope="col">Curso</th>
               <th scope="col">Ações</th>
           </tr>
       </thead>
       {% for student in students %}
       <tbody>
           <tr>
               <td><a href="{% url 'student:detail-student' student.id%}">{{ student.name }}</a></td>
               <td>{{ student.email }}</td>
               <td>{{ student.date_of_birth }}</td>
               <td>{{ student.city }}</td>
               <td>{{ student.course }}</td>
               <td>
                <a href="{% url 'student:edit-student' student.id %}" style="text-decoration: none; color: white;"><button class="btn btn-primary">Editar</button></a>
                <a href="{% url 'student:delete-student' student.id %}" style="text-decoration: none; color: white;"><button class="btn btn-danger">Deletar</button></a>
               </td>
           </tr>
       </tbody>
       {% endfor %}
   </table>
{% endblock %}